[submodule "external/sdl/SDL"]
	path = external/sdl/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/glm/glm"]
	path = external/glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/sdl_image/SDL_image"]
	path = external/sdl_image/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = git@github.com:ocornut/imgui.git
